@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 230 50% 95%;
    --foreground: 232 54% 20%;
    --card: 0 0% 100%;
    --card-foreground: 232 54% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 232 54% 20%;
    --primary: 232 54% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 230 20% 90%;
    --secondary-foreground: 232 54% 20%;
    --muted: 230 20% 90%;
    --muted-foreground: 232 54% 45%;
    --accent: 26 100% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 20% 85%;
    --input: 230 20% 88%;
    --ring: 26 100% 47%;
    --chart-1: 232 54% 37%;
    --chart-2: 26 100% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 232 15% 10%;
    --foreground: 230 50% 95%;
    --card: 232 15% 15%;
    --card-foreground: 230 50% 95%;
    --popover: 232 15% 10%;
    --popover-foreground: 230 50% 95%;
    --primary: 230 50% 80%;
    --primary-foreground: 232 54% 20%;
    --secondary: 232 15% 25%;
    --secondary-foreground: 230 50% 95%;
    --muted: 232 15% 25%;
    --muted-foreground: 230 50% 70%;
    --accent: 26 100% 55%;
    --accent-foreground: 232 54% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 15% 25%;
    --input: 232 15% 25%;
    --ring: 26 100% 55%;
    --chart-1: 230 50% 80%;
    --chart-2: 26 100% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
